.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--vermelho-card);
    padding-top: 4rem;
    margin: 4rem 7rem 6rem 7rem;
}

.depoimento span {
    font-size: 0.87rem;
    padding-bottom: 1rem;
}

.depoimento__titulo {
    font-size: 2rem;
    text-align: center;
    width: 68rem;
    padding-bottom: 2rem;
}

.depoimento__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimento__card-imagem {
    padding-bottom: 1rem;
}

.depoimento__card-texto {
    font-size: 1rem;
    padding-bottom: 0.25rem;
}

.depoimento__card span {
    font-size: 0.87rem;
    padding-bottom: 4rem;
}